rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() { return request.auth != null; }

    match /users/{uid} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.auth.uid == uid;
      allow update: if isSignedIn() && request.auth.uid == uid;
    }

    match /classrooms/{cid} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && resource.data.teacherUid == request.auth.uid;

      match /students/{sid} {
        allow read: if isSignedIn();
        allow create: if isSignedIn() && request.auth.uid == sid;
      }

      match /assignments/{aid} {
        allow read: if isSignedIn();
        allow create, update, delete: if isSignedIn();

        match /completions/{uid} {
          allow read: if isSignedIn();
          allow create: if isSignedIn() && request.auth.uid == uid;
        }
      }
    }
  }
}
